<h2>Create your new post</h2>
{{paper-input label="Post Title" value=title id="title"}}
  <div layout="" layout-sm="column">
    {{paper-input label="Author" flex=50 value=author id="author"}}
    {{paper-input label="Image URL" flex=50 value=image id="image"}}
  </div>
  {{paper-input textarea=true attr-rows="4" label="Content" value=content id="content"}}

{{#paper-button primary=true raised=true action='save'}}Publish{{/paper-button}}
