<h2>Add A Comment</h2>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name"}}
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    {{input value=email id="email"}}
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    {{input value=comment id="comment"}}
  </div>
  <button {{action 'submit'}}>Submit</button>
</form>
