{{paper-input label="Site Name" id="title" value=title}}
{{paper-input textarea=true label="A brief description of what your site is about" id="description" value=description}}
{{#paper-select placeholder="Category" model=category}}
  {{#paper-option value="Food"}}
    <p>Food</p>
  {{/paper-option}}
  {{#paper-option value="Animals"}}
    <p>Animals</p>
  {{/paper-option}}
  {{#paper-option value="Fitness"}}
    <p>Fitness</p>
  {{/paper-option}}
  {{#paper-option value="Politics"}}
    <p>Politics</p>
  {{/paper-option}}
  {{#paper-option value="Lifestyle"}}
    <p>Lifestyle</p>
  {{/paper-option}}
  {{#paper-option value="Miscellaneous"}}
    <p>Miscellaneous</p>
  {{/paper-option}}
{{/paper-select}}

{{paper-button primary=true raised=true label="Save" action="save"}}
