<h2>Add New Post</h2>
<form>
  <label for="title">Post Title</label>
  {{input value=title id="title"}}

  <label for="author">Author</label>
  {{input value=author id="author"}}

  <label for="content">Content</label>
  {{textarea value=content id="content"}}

  <button {{action 'save'}}>Publish</button>
</form>
