<form>
  <label for="title">Site Title</label>
  {{input value=title id="title"}}

  <label for="admin">Admin Name</label>
  {{input value=admin id="admin"}}
  <button {{action 'save'}}></button>  
</form>
