<form>
  <label for="email">Email</label>
  {{input value=email type="email"}}
  <label for="password">Password</label>
  {{input value=password type="password"}}
  <button {{action 'newUser'}}>Create User</button>
</form>
