@import 'ember-paper';

body {
  font-family: 'Roboto', sans-serif;
  background-color: lighten(#9DA4AD, 30%);
  height: 100%;
}

#ember500 {
  height: 100%;
}

md-sidenav {
  height: 70em;
}

.paper-card {

  width: 250px;
  height: 250px;

  img {
    max-height: 250px;
    max-width: 250px;
  }
}
