{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Welcome</span>
  </div>
{{/paper-toolbar}}

{{#paper-content class="md-padding"}}
  <h1>Welcome to Blogamole!</h1>
  <p>A free content management system! View sites and posts listed by others, or create your own! </p>
  <h3>Browse Sites:</h3>

  {{site-list model=model goToSite="goToSite"}}
{{/paper-content}}
