{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Welcome</span>
  </div>
{{/paper-toolbar}}

{{#paper-content class="md-padding"}}
  <h1>Hello, there.</h1>
  <p>You have arrived at our thing, now feel free to cruise around and click on stuff and things. Blahber. It's a thing. All of the sites that our users have created are below.</p>
  <h3>Browse Sites:</h3>

  {{site-list model=model goToSite="goToSite"}}
{{/paper-content}}
