{{#paper-content class="md-padding"}}
  {{#each model as |site|}}
    <h3>{{site.title}}</h3>
    <!-- add link to live site and button to login to admin panel for each -->
  {{/each}}
  {{#link-to 'new-site'}}Add new site{{/link-to}}
{{/paper-content}}
